p
  label(for='occupation_name')
p
  input(type='text', name='occupation[name]', value=occupation.name)
p
  label(for='occupation_city')
p  
  input(type='text', name='occupation[city]', value=occupation.city)
p
  label(for='occupation_state')
p  
  input(type='text', name='occupation[state]', value=occupation.state)
p
  input(type='submit')